.scroll-fade-in, .scroll-fade-in-late {
  opacity: 0;
  transform: translateY(100px);
}

.scroll-fade-in.show {
	animation: moveUp 1.25s ease forwards;
}

.scroll-fade-in-late.show {
  animation: moveUp 1.5s ease forwards;
}


@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

//Bounce Animation
@keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}
