// Button styles

.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Maison Neue Mono";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: normal;
  color: #FFFFFF;
  border-radius: 0px;
  // transition: all .2s ease-in-out;
  z-index: 1;
  overflow: hidden;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus();
      outline: 0;
    }
  }

  @include hover-focus {
    text-decoration: none;
  }
  &.focus {
    text-decoration: none;
    outline: 0;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }

  &.disabled,
  &:disabled {
    cursor: pointer;
    opacity: .65;
  }
}

// Primary buton styling - solid colour
.btn-primary {
  background-color: $mf-green;

  &:hover {
    transition: all .2s ease-in-out;
  }
}

//Outline button styling

.btn-outline {
  background-color: transparent;
  border-color: #FFFFFF;

  &:hover {
    transition: all .2s ease-in-out;
    color: $brand-primary;
  }

}
