.brave-clients, .change-articles {
  padding-top: 100px;
  padding-bottom: 0px;

  .content-wrapper {
    padding-bottom: 100px;
    border-bottom: 1px solid $gray-light;
  }

  .content-title {
    margin-bottom: 40px;

    h3 {
      margin-top: 30px;
    }
  }
  .media {
    height: 180px;
    background-color: $black-2;
    margin-bottom: 1.125rem;
  }

  .content {
    h4 {margin-bottom: 1rem;}
  }

  .venture-item {
    .media {
      height: 310px;
    }
  }
}

.brave-clients {
  padding-top: 120px;
}

.category-insights {
  height: 820px;
  background-color: $gray-light;

  .container {height: 100%; padding: 0;}
  .fake {
    height: 100%;
    width: 100%;
    background-image: url(../../assets/category-insights.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
}

.brave-row {
  margin-bottom: 40px;

  h4 {
    text-align: left;
    font-family: 'Maison Neue Medium';
  }
}

.change-articles .pull-quote a {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
}

.change-articles .content-title {
  margin-bottom: 80px;
}

.change-article {
  margin-bottom: 60px;
}
