.mf-home-values {
  padding-top: 400px;
  padding-bottom: 60px;

}

main.content-area {
  height: 100%;
  position: relative;
}

// Intro Hero

.intro-hero-content {
  padding-top: 230px;
  // padding-bottom: 120px;
  height: 80vh;

  .content-block {
    h5 {margin-bottom: 1rem;}
    h1 {margin-bottom: 2.5rem;}
  }
}

.intro-hero-media {
  .media-block {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }
}

.image-caption {
  display: block;
  border-bottom: 4px solid $mf-green;
  font-family: "Maison Neue Mono";
  font-size: .75rem;
  span {
    display: block;
    padding-bottom: 12px;
  }
}

.image-caption--left {
  text-align: left;
  padding-left: 0px;
}

.image-caption--right {
  text-align: right;
  padding-right: 0px;
}

// Client Logos

.client-logos {
  padding: 140px 0 80px 0;

  .logo-block {
    text-align: center;

    ul.logos {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      flex: 1 1 0;
      flex-wrap: wrap;
      margin-top: 40px;

      li.logo {
        margin: 20px;
        width: 20%;
      }
    }
  }
}

//Shadow Image/Copy Module

.values {
  padding-top: 80px;
}
.value-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.value-wrapper--reverse {
  flex-direction: row-reverse;
}

.value-content {
  z-index: 200;
  .link {
    margin-top: 40px;
  }
}

.value-media, .landscape-image {
  &::after {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    background-image: linear-gradient(-180deg, #F2F5F7 0%, #FFFFFF 100%);
    z-index: -20;
  }
}

.value-media.top-left {
  img {box-shadow: -10px -10px 20px 0px rgba(0,0,0,0.08);}
  &:after {top: -100px; left: -100px;}
}

.value-media.bottom-right, .landscape-image.bottom-right {
  img {box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.08);}
  &:after {bottom: -100px; right: -100px;}
}

.value-media.bottom-left {
  img {box-shadow: -10px 10px 20px 0px rgba(0,0,0,0.08);}
  &:after {bottom: -100px; left: -100px;}
}
